<!-- Page Header : start -->
<footer class="bg-blue-900 py-4 sm:py-8 md:pt-12 md:pb-16 px-4 lg:px-0">
  <div class="grid grid-cols-12 items-center">
    <div class="col-span-3 lg:col-start-2 lg:col-span-2">
      <div class="flex-shrink-0 flex items-center">
        <img src="../images/logo.svg" alt="LogoType" class="block h-16 w-auto">
      </div>
    </div>

    <div class="hidden md:block col-start-4 col-span-6 lg:col-start-5 lg:col-span-4">
      <menu class="list-none pl-0 ml-0 flex items-center justify-around">
        <li>
          <a href="#" class="text-display lg:text-xl text-white text-opacity-100 hover:text-opacity-75">Home</a>
        </li>
        <li>
          <a href="#" class="text-display lg:text-xl text-white text-opacity-100 hover:text-opacity-75">About</a>
        </li>
        <li>
          <a href="#" class="text-display lg:text-xl text-white text-opacity-100 hover:text-opacity-75">Contact</a>
        </li>
      </menu>
    </div>

    <div class="col-span-3 col-start-10 lg:col-span-2">
      <ul class="list-none pl-0 ml-0 flex items-center justify-end">
        <li class="ml-8">
          <a href="#" class="block w-5 text-white text-opacity-100 hover:text-opacity-75"><svg class="w-full icon icon-f"><use xlink:href="#icon-f"></use></svg></a>
        </li>
        <li class="ml-8">
          <a href="#" class="block w-5 text-white text-opacity-100 hover:text-opacity-75"><svg class="w-full icon icon-insta"><use xlink:href="#icon-insta"></use></svg></a>
        </li>
        <li class="ml-8">
          <a href="#" class="block w-5 text-white text-opacity-100 hover:text-opacity-75"><svg class="w-full icon icon-yt"><use xlink:href="#icon-yt"></use></svg></a>
        </li>
      </ul>
    </div>
  </div>
</footer> <!-- Page Header : end -->